<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="primary" (click)="selectANumber()">select nativo</ion-button>
    <ion-button color="primary" (click)="calendario()">Calendario</ion-button>
    <ion-button color="primary" (click)="createPdfxxxx()">create PDF</ion-button>
    <ion-button color="primary" (click)="downloadPdf()">downloadPdf</ion-button>
    <ion-button color="primary" (click)="viewpdf()">viewpdf</ion-button>
</ion-content>
